.bg-primary {
    background-color: #fa5553 !important;
}

.container {
    text-align: center;
}
.col {
    margin: 1%;
}

.row {
    height: 50%;
}

.dashBtn {    
    margin-top: 155px;
    font-size: 200%;
}

.dashImg {
    width: 100%;
}

.dashLink {
    color: white;
}

#btnHolder {
    text-align: center;
    height: 780px;
    width: 92%;
    margin: auto;
    padding: unset;
}

.playCol {
    background-color: #fa5553;
}

.learnCol {
    background-color: #f0c066;
}

.statsCol {
    background-color: #adc25d;
}

.logoutCol {
    background-color: #78a3d7;
    color: white;
}

@media only screen and (max-width:320px){
    .dashBtn {    
        margin-top: 85%;
        font-size: 200%;
    }
}