.bg-primary {
    background-color: #fa5553 !important;
}

.container {
    text-align: center;
    margin: auto;
    padding-top: 5%;
}

.card-body {
    text-align: center;
}

button.styles_closeButton__20ID4{
    padding: inherit;
}

.title {
    text-align: center;
}

.learnImg {
    width: 80%;
    max-width: unset;
}

@media only screen and (max-width:450px){
    .learnImg {max-width: 90px;}
    .col-xs-3 {width: 25%;}
}