.gBtn {
    display: inline-block;
    background: transparent;
    color: #faf6f6;
    width: 100%;
    padding-top: unset;
    padding-bottom: unset;
    border-radius: unset;
    border: 1px solid transparent;
    font-size: 120%;
    font-weight: bold;
    font-family: Roboto;
}

.gBtn .row {
    box-shadow: 0 2px 4px 0 #aabe5b;
}

svg.gLogo {
    width: 90%;
    height: 40px;
}


/* @media screen and (max-width: 784px) {
    .gBtn {
        width: 80%;
        height: 40%;
    }
    
    
    } */
.bg-primary {
    background-color: #fa5553 !important;
}