#btnRow {
    max-width: 98%;
    margin: auto;
}

.bg-primary {
  background-color: #fa5553 !important;
}

.App {
    text-align: center;
    margin-top: 100px;
	}
	
.modalTitle {
  font-size: 150%;
  text-align: center;
}

.selected {
  border: 1px solid #eb6864;
  box-shadow: 2px 5px 2px #afaeaead, -2px -4px #eb6864;
}

.playImg {
  width: 90%;
  max-width: 125px;
}

.modalCard {
    border: 0px;
    max-width: 95%;
    /* margin-top: 8%; */
    margin: auto;
    padding: 4%;
}

.modalCard .card-body {
    text-align: center;
    padding-left: unset;
    padding-right: unset;
}

.table {
	margin-bottom: unset;
}

@media only screen and (max-width:450px){
    .playImg {max-width: 100px;}
    .col-xs-4 {width: 33%;}
}

@media only screen and (max-height:450px){
  .playImg {max-width: 90px;}
  .col-xs-4 {width: 25%;}
}

@media only screen and (min-width:1025px){
.container {
	width: 35%;
	height: 30%;
	margin: auto;
}
}

/* slideDown Made by Justin Aguilar: www.justinaguilar.com/animations/ */

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

.styles_modal__gNwvD {
	width: 600px
}